button, .button {
    padding: 0.75rem 1rem;
    background-color: #5c4033;
    color: #ffc832;
    border: 0.125rem solid #1a1a1a;
    border-top-color: #8b7a62;
    border-left-color: #8b7a62;
    cursor: pointer;
    font-family: 'RuneScape Bold', sans-serif;
    text-shadow: 0.125rem 0.125rem 0 #000;
    font-size: 1rem;
    letter-spacing: 0.0313rem;
    min-height: 3rem;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

button:hover, .button:hover {
    background-color: #6e4e3e;
    border-top-color: #1a1a1a;
    border-left-color: #1a1a1a;
    border-right-color: #8b7a62;
    border-bottom-color: #8b7a62;
}


button {
    border-radius: 0;
}