.combat-stats-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.bottom-stats-row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.combat-stats-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.combat-stats-category {
    border: 2px solid #1a1a1a;
    border-top: 2px solid #8b7a62;
    border-left: 2px solid #8b7a62;
    border-right: 2px solid #1a1a1a;
    border-bottom: 2px solid #1a1a1a;
    border-radius: 0;
    padding: 8px;
    background-color: #422e24;
    flex-grow: 1;
}


.bottom-stats-row .combat-stats-category {
    border-right: 2px solid #1a1a1a;
}

.combat-stats-wrapper .combat-stats-category {
    margin-bottom: -2px;
}

.combat-stats-wrapper .combat-stats-category:last-child {
    margin-bottom: 0;
}

.combat-stats-category-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    gap: 5px;
}

.combat-stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 8px;
    font-size: 1em;
}

.combat-stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    border: 1px solid #1a1a1a;
    border-radius: 0;
    background-color: #523a2e;
}

.combat-stat-value {
    font-size: 16px;
}

.level-requirements-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.level-requirements-category {
    border: 2px solid #1a1a1a;
    border-top: 2px solid #8b7a62;
    border-left: 2px solid #8b7a62;
    border-right: 2px solid #1a1a1a;
    border-bottom: 2px solid #1a1a1a;
    border-radius: 0;
    padding: 8px;
    background-color: #422e24;
}

.level-requirements-category-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.level-requirements-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 8px;
    font-size: 1.3em;
}

.level-requirement-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    border: 1px solid #1a1a1a;
    border-radius: 0;
    background-color: #523a2e;
}

.level-requirement-value {
   
    font-size: 16px;
}