.combat-stat-icon, .combat-category-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    object-fit: contain;
}

.gear-slot-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-bottom: 5px;
}

.skill-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    object-fit: contain;
}